/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.app {
	background-color: #E5F2F7;
	max-width: 600px;
}

.main-page {
	padding-top: 75px;
	background-color: #E5F2F7;
	min-height: 100%;
}

#content {
	background-color: #E5F2F7;
	min-height: 100vh;
	width: 100%;
}

.tweet-container {
	font-size: 14px;
	padding: 9px 12px;
	min-height: 51px;
	border-bottom: 1px solid #e1e8ed;
	background-color: #fff;
}

.tweet-container:hover {
	background-color: #f5f8fa;
}

.search-bar {
	height: 33px;
	padding: 5px 27px 6px 12px;
	border: 1px solid #e1e8ed;
	border-radius: 21px;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.profile-container {
	background-color: #fff;
	padding: 9px 12px;
	border-radius: 4px;

}

.search-btn {
	background-color: #E5F2F7;
}

.filter-checkbox {
	float: right;
}
.checkbox {
	float: right;
}

.tweets {
	padding: 25px;
}