/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.app {
	background-color: #E5F2F7;
	max-width: 800px;
}

.main-page {
	padding-top: 75px;
	background-color: #E5F2F7;
	min-height: 100%;
}

#content {
	background-color: #E5F2F7;
	min-height: 100vh;
	width: 100%;
}

.tweet-container {
	font-size: 14px;
	padding: 9px 12px;
	min-height: 51px;
	border-bottom: 1px solid #e1e8ed;
	background-color: #fff;
}

.tweet-container:hover {
	background-color: #f5f8fa;
}

.search-bar {
	height: 33px;
	padding: 5px 27px 6px 12px;
	border: 1px solid #e1e8ed;
	border-radius: 21px;
}

.label-text {
	color: #8899A8;
  font-size: 10px;
  letter-spacing: .02em;
  text-transform: uppercas
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.profile-stats {
	background-color: #fff;
	padding: 9px 16px;
	float: left;
	display: block;
  font-size: 18px;
  font-weight: 500;
  padding-top: 3px;
  color: #0084B4 !important;
}

.profile-picture {
	border-radius: 7px;
	display: inline-block;
	float: left;
}

.profile {
	border-radius: 4px;
	height: auto;
	background-color: #fff;
	padding-top: 3px;
	padding: 9px 12px;
}

.search-btn {
	background-color: #E5F2F7;
}

.filter-checkbox {
	float: right;
}
.checkbox {
	float: right;
}

.tweets {
	padding-bottom: 25px;
	padding-top: 25px;
}

.tweet-date {
	min-width: 100px;
}

.profile-img {
	border-radius: 7px;
}

#display-name {
	color: #292f33;
	font-size: 18px;
}

#display-handle {
	color: grey;
	font-size: 14px;
}

.photo-filter {
	float: right;
}

.tweet-image {
	max-width: 250px;
	border-radius: 7px;
}